/* Background image */
body {
    background-image: url(./Images/background-1742039_960_720.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

/* Loveliness */
h1, h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table {
    align-content: center;
    margin: 0 auto;
    width: 100%;
    background-color: rgb(211, 214, 216);
}
table, th, td {
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
thead {
    background-color: black;
    color: white;
}
td {
    text-align: center;
}
p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Gallery */
.column {
    float: left;
    width: 25%;
    padding: 0px;
}
.column img {
    cursor: grabbing;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.container {
    position: relative;
    display: none;
}
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: rgb(7, 1, 1);
    font-size: 35px;
    cursor: pointer;
    margin-right: 35%;
}
  /* footer w/ social media button */
  footer {
    background-color: rgb(2, 7, 8);
    opacity: 0.4;
    padding: 5px;
    text-align: center;
    color: white;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa-facebook {
    background: #011e5e;
    color: white;
  }
